/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* START RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}
ol, ul {
	list-style: none;
}

/* END RESET */


.row {
    margin-left: 0;
    margin-right: 0;
}

.row-gap-3 {
    row-gap: 3rem;
}

.police-bleue {
    color: rgb(48, 74, 156);
}

.police-rouge {
    color: rgb(141, 42, 42);
}

.fond-bleu {
    background-color: rgb(53, 85, 190);
}

.fond-rouge {
    background-color: rgb(141, 42, 42);
}

.date {
    color: rgba(141, 42, 42);
}

header {
    background-image: url("./assets/img/bg-contenu2.png");
    background-size: contain;
}

/* NAVBAR MENU */

@media screen and (min-width: 992px) {
    .dropdown-menu[data-bs-popper] {
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-item.dropdown {
        flex: 1 1 0;
        text-align: center;
        background-image: url("./assets/img/bkg_menu_demarches.jpg");
        background-size: contain;
    }

    [aria-expanded="true"] {
        text-decoration: underline;
    }
}
